<div class="card mt-1 mb-2 bg-dark">
    <div class="d-flex justify-content-around flex-wrap">

      <app-container-graph-pie
        [title]="'VENTAS DETAL POR PLATAFORMA'"
        [chartGraphValues]="pieChartGraphValuesPlatform"
        [chartWidth]="400"
        [chartHeight]="300">
      </app-container-graph-pie>

      <app-container-graph-doughnut
          [title]="'VENTAS DETAL POR CALIDAD'"
          [chartWidth]="400"
          [chartHeight]="300"
          [chartGraphValues]="doughnutChartGraphValuesQuality">
      </app-container-graph-doughnut>

      <app-container-graph-pie
        [title]="'VENTAS DETAL POR PROCEDENCIA DE LEDS'"
        [chartGraphValues]="pieChartGraphValuesSegmentation"
        [chartWidth]="400"
        [chartHeight]="300">
      </app-container-graph-pie>

      <app-container-graph-bar
        [title]="'VENTAS DETAL POR CANAL'"
        [barChartData]="barChartDataForCanal"
        [chartWidth]="600"
        [chartHeight]="310">
      </app-container-graph-bar>

      <app-container-graph-bar
        [title]="'VENTAS DETAL POR MEDIO'"
        [barChartData]="barChartDataForMedio"
        [chartWidth]="600"
        [chartHeight]="310">
      </app-container-graph-bar>

    </div>
</div>